.bg-purple-1000 {
    background: linear-gradient(34deg, rgba(129,86,201,1) 0%, rgba(201,70,252,1) 100%);
    background: url(https://static.vecteezy.com/system/resources/previews/007/120/269/original/night-landscape-with-silhouettes-of-mountains-and-sky-with-stars-starry-night-sky-background-dark-blue-sky-with-shinning-stars-illustration-free-vector.jpg);
    background-size: cover;
}

.text-shadow {
    text-shadow: 1px 1px 10px #000;
}