:root {
    --cat-surface0: #414559;
    --cat-lavender: #babbf1;
}

.bg-purple-1000 {
    background: rgba(48, 52, 70, 0.7);
    background-size: cover;
}

.border-surface0 {
    border-color: var(--cat-surface0);
}
.bg-surface0 {
    background: var(--cat-surface0);
}

a {
    color: var(--cat-lavender);
}
a:hover {
    color: #535bf2;
}

.background {
    background: url(./Street.jpeg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.2;
}

.foreground {
    z-index: 1;
}

.text-shadow {
    text-shadow:
    -2px -2px 0 #232634,  
    2px -2px 0 #232634,
    -2px 2px 0 #232634,
    2px 2px 0 #232634;
}